<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750370149602-3if9ffm3csv8gbsq3ulaghg66sd6rj4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750370149602-3if9ffm3csv8gbsq3ulaghg66sd6rj4b</string>
	<key>API_KEY</key>
	<string>AIzaSyD-TxbVNDqDDCmLmrczBT_tsX94XeKwa_4</string>
	<key>GCM_SENDER_ID</key>
	<string>750370149602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>firebase-auth-bloc2-02</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-auth-bloc2-02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750370149602:ios:84d667e866b9798dfa3abb</string>
</dict>
</plist>